<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">
<hibernate-configuration>
    <session-factory>
            <!-- Database connection properties - Driver, URL, user, password -->
            <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
            <property name="hibernate.connection.url">null</property>
            <property name="hibernate.connection.username">null</property>
            <property name="hibernate.connection.password">null</property>
            <!-- Connection Pool Size -->
            <property name="hibernate.c3p0.min_size">10</property>

            <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
            <property name="hibernate.current_session_context_class">thread</property>

            <!-- Outputs the SQL queries, should be disabled in Production -->
            <property name="hibernate.show_sql">true</property>
            <property name="hibernate.format_sql">true</property>
            <!-- Dialect is required to let Hibernate know the Database Type, MySQL, Oracle etc
                Hibernate 4 automatically figure out Dialect from Database Connection Metadata -->
            <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>



    </session-factory>
</hibernate-configuration>